<%= bootstrap_form_for(@cohort, remote: true, :html => { :role => "form" }) do |f| %>
    <div id="error_explanation" class="bg-danger text-danger">

    </div>

    <div class="row">
        <div class="col-sm-6">
            <%= f.text_field :title %>
            <%= f.date_field :start_date %>
            <%= f.date_field :end_date %>
            <%= f.collection_select :instructor_id, @instructors, :id, :first_name, include_blank: true %>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <%= f.submit  @cohort.new_record? ? "Create Cohort" : "Update Cohort", :class => "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
