<div class="jumbotron">
    <h3><%= @cohort.title %> Roster</h3>
</div>
<table summary="Cohort roster view" class="table table-bordered table-striped">
    <tr class="headings">
        <th>Students</th>
    </tr>
    <% if @roster != nil %>
        <% @roster.each do |student| %>
            <tr>
                <% name = "#{student[:first_name]} #{student[:last_name]}" %>
                <td><%= name %></td>
                <!--<td>#<%= link_to 'X', student, remote: true, :method => :delete, data: {confirm: "Delete Student: #{student.first_name} #{student.last_name}"}, :class => 'btn btn-sm btn-danger' %></td>
            --></tr>
        <% end %>
    <% end %>
</table>
<div class="well">
    <%= link_to "New Student", new_student_path, remote: true, class: "btn btn-primary" %>
</div>
<%= render 'dialog' %>
