<div class="employees index">
    <div class="row">
        <div class="employees welcome col s12">
            <h3>Employees</h3>
            <div class="row">
                <div class="col s6">
                    <p>current number of employees</p>
                    <p>__ admin</p>
                    <p>__ counselors</p>
                    <p>__ instructors</p>
                </div>
                <div class="col s6">
                    <p>new employees</p>
                    <p>Welcome to employees</p>
                    <p>......</p>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="employees directory col s12 l8">
            <div class="row">
                <form method="POST" action="/search">
                <div class="input-field col s12">
                    <input name="search" type="text" required>
                </div>
                <input type="submit" style="visibility: hidden;" />
                </form>
            </div>
            <table class="listing" summary="Employee list">
                <tr class="header">
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                <% @employees.each do |employee| %>
                    <tr>
                        <td><%= employee.last_name %></td>
                        <td><%= employee.first_name %></td>
                        <td><%= employee.position %></td>
                        <td><%= employee.email %></td>
                        <td><%= employee.phone_number %></td>
                        <td class="actions">
                            <%= link_to("Show", employee_path(employee), :class => 'action show') %>
                            <%= link_to("Edit", edit_employee_path(employee), :class => 'action edit') %>
                            <%= link_to("Delete", delete_employee_path(employee), :class => 'action delete') %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        <div class="employees new col s12 l4">
            <h4>Create Employee</h4>
            <%= form_for(@employee) do |f| %>

                <%= render(:partial => 'form', :locals => {:f => f}) %>

                <div class="form-buttons">
                    <%= f.submit("Create Employee") %>
                </div>
            <% end %>
        </div>
    </div>
</div>
