
        <div class="employee directory col s12 l8">
            <table class="listing" summary="Employee list">
                <tr class="header">
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Age</th>
                    <th>Education Level</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                <% @employees.each do |employee| %>
                    <tr>
                        <td><%= employee.last_name %></td>
                        <td><%= employee.first_name %></td>
                        <td><%= employee.position %></td>
                        <td><%= employee.salary %></td>
                        <td><%= employee.age %></td>
                        <td><%= employee.education %></td>
                        <td><%= employee.email %></td>
                        <td><%= employee.phone_number %></td>
                        <td class="actions">
                            <%= link_to("Show", employee_path(employee), :class => 'action show') %>
                            <%= link_to("Edit", edit_employee_path(employee), :class => 'action edit') %>
                            <%= link_to("Delete", delete_employee_path(employee), :class => 'action delete') %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
