
<%= bootstrap_form_for(@student, remote: true, :html => { :role => "form" }) do |f| %>
    <div id="error_explanation" class="bg-danger text-danger">

    </div>

    <div class="row">
        <div class="col-sm-6">
                <%= f.text_field :first_name %>
                <%= f.text_field :last_name %>
                <%= f.collection_select :cohort_id, @cohorts, :id, :title, prompt: true %>
                <%= f.number_field :age, min: 0, max: 150 %>
                <%= f.select :education, ["High School", "Bachelor's", "Master's", "PHD"] %>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <%= f.submit  @student.new_record? ? "Create Student" : "Update Student", :class => "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
