<%= link_to("<< Back to List", students_path, :class =>'back-link') %>
<div class="students delete">
    <h2>Delete Student</h2>
    <%= form_for(@student, :method => 'delete') do |f| %>
        <p>Are you sure you want to permanently delete this student?</p>
        <p class="reference-name"><%= f.object.first_name %> <%= f.object.last_name %></p>

        <div class="form-buttons">
            <%= f.submit("Delete Student") %>
        </div>
    <% end %>
</div>
