<div class="x_content">
    <h3>Students</h3>
    <%= link_to("Add new Student", new_student_path, :class => 'action new') %>

    <table class="table table-striped jambo_table bulk_action" summary="Student list">
        <tr class="headings">
            <th>Last Name</th>
            <th>First Name</th>
            <th>Cohort Id</th>
            <th>Age</th>
            <th>Education Level</th>
        </tr>
        <% @students.each do |student| %>
            <tr>
                <td><%= student.last_name %></td>
                <td><%= student.first_name %></td>
                <td><%= student.cohort_id %></td>
                <td><%= student.age %></td>
                <td><%= student.education %></td>
                <td class="actions">
                    <% if can? :manage, User %>
                        <%= link_to("Show", student_path(student), :class => 'action show') %>
                        <%= link_to("Edit", edit_student_path(student), :class => 'action edit') %>
                        <%= link_to("Delete", delete_student_path(student), :class => 'action delete') %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
