<%= link_to("<< Back to List", students_path, :class =>'back-link') %>
<div class="students new">
    <h2>Create Student</h2>
    <%= form_for(@student) do |f| %>
        <table summary="Student form fields">
            <tr>
                <th>First Name</th>
                <td><%= f.text_field(:first_name) %></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><%= f.text_field(:last_name) %></td>
            </tr>
            <tr>
                <th>Cohort Id</th>
                <td><%= f.text_field(:cohort_id) %></td>
            </tr>
            <tr>
                <th>Age</th>
                <td><%= f.text_field(:age) %></td>
            </tr>
            <tr>
                <th>Education level</th>
                <td><%= f.text_field(:education) %></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= f.text_field(:email) %></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><%= f.text_field(:phone_number) %></td>
            </tr>
        </table>
        <div class="form-buttons">
            <%= f.submit("Create Student") %>
        </div>
    <% end %>
</div>
