<div class="students show">
    <h3>Show Student</h3>

    <table summary="Student detail view">
        <tr>
            <th>Name</th>
            <td><%= @student.last_name %>, <%= @student.first_name %></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><%= @student.age %></td>
        </tr>
        <tr>
            <th>Education</th>
            <td><%= @student.education %></td>
        </tr>
        <tr>
            <th>Cohort</th>
            <td><%= @student.cohort_id %></td>
        </tr>
    </table>
    <h3>Roster</h3>
    <% if @course_list != nil %>
        <% @course_list.each do |course| %>
            <%= course[:title] %>
            <% current_record = get_registration(course[:id], @student.id) %>
            <%= link_to("Delete", delete_course_registration_path(current_record), :class => 'action delete') %>
        <% end %>
    <% end %>
</div>
