<%= bootstrap_form_for(@instructor, remote: true, :html => { :role => "form" }) do |f| %>
    <div id="error_explanation" class="bg-danger text-danger">

    </div>

    <div class="row">
        <div class="col-sm-6">
            <%= f.text_field(:first_name) %>
            <%= f.text_field(:last_name) %>
            <%= f.number_field(:salary) %>
            <%= f.number_field(:age) %>
            <%= f.select :education, ["High School", "Bachelor's", "Master's", "PHD"]%>
            <%= f.number_field(:user_id) %>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <%= f.submit  @instructor.new_record? ? "Create Instructor" : "Update Instructor", :class => "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
