<%= link_to("<< Back to List", instructors_path, :class =>'back-link') %>
<div class="instructors delete">
    <h2>Delete Instructor</h2>
    <%= bootstrap_form_for(@instructor, :method => 'delete') do |f| %>
        <p>Are you sure you want to permanently delete this instructor?</p>
        <p class="reference-name"><%= f.object.first_name %> <%= f.object.last_name %></p>

        <div class="form-buttons">
            <%= f.submit("Delete Instructor") %>
        </div>
    <% end %>
</div>
