<%= link_to("<< Back to List", instructors_path, :class => 'back-link') %>

<div class="instructors show">
    <h3>Show Instructor</h3>

    <table summary="Instructor detail view">
        <tr>
            <th>Name</th>
            <td><%= @instructor.last_name %>, <%= @instructor.first_name %></td>
        </tr>
        <tr>
            <th>Salary</th>
            <td><%= @instructor.salary %></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><%= @instructor.age %></td>
        </tr>
        <tr>
            <th>Education</th>
            <td><%= @instructor.education %></td>
        </tr>
    </table>
</div>
