<%= bootstrap_form_for(@course, remote: true, :html => { :role => "form" }) do |f| %>
    <div id="error_explanation" class="bg-danger text-danger">

    </div>

    <div class="row">
        <div class="col-sm-6">
            <%= f.text_field(:title) %>
            <%= f.text_field(:total_hours) %>
            <%= f.text_field(:instructor_id) %>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <%= f.submit  @course.new_record? ? "Create Course" : "Update Course", :class => "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
