<div class="courses index">
    <div class="row">
        <div class="col s12">
            <h3>Courses</h3>
            <div clas="row">
                <div class="col s6">
                    <p>course enrollment percentage</p>
                    <p>coures with lowest enrollment</p>
                </div>
                <div class="col s6">
                    <p>recent courses added/removed</p>
                    <p>course name red</p>
                    <p>course name green</p>
                    <p>course name green</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="courses directory col s12 l8">
            <div class="row">
                <form method="POST" action="/search">
                <div class="input-field col s12">
                    <input name="search" type="text" required>
                </div>
                <input type="submit" style="visibility: hidden;" />
                </form>
            </div>
            <table class="listing" summary="Course list">
                <tr class="header">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Hours</th>
                    <th>Instructor Id</th>
                </tr>
                <% @courses.each do |course| %>
                    <tr>
                        <td><%= course.title %></td>
                        <td><%= course.description %></td>
                        <td><%= course.hours %></td>
                        <td><%= course.employee_id %></td>
                        <td class="actions">
                            <%= link_to("Show", course_path(course), :class => 'action show') %>
                            <%= link_to("Edit", edit_course_path(course), :class => 'action edit') %>
                            <%= link_to("Delete", delete_course_path(course), :class => 'action delete') %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        
        <div class="courses new col s12 l4">
            <h4>Create Course</h4>
            <%= form_for(@course) do |f| %>
        
                <%= render(:partial => 'form', :locals => {:f => f}) %>
        
                <div class="form-buttons">
                    <%= f.submit("Create Course") %>
                </div>
            <% end %>
        </div>
    </div>
</div>
