<div class="x_content">
    <h3>Courses</h3>

<%= link_to("Add new Course", new_course_path, :class => 'action new') %>

    <div class="courses directory">
        <table class="table table-striped jambo_table bulk_action" summary="Course list">
            <tr class="headings">
                <th>Title</th>
                <th>Hours</th>
                <th>Instructor Id</th>
            </tr>
            <% @courses.each do |course| %>
                <tr>
                    <td><%= course.title %></td>
                    <td><%= course.total_hours %></td>
                    <td><%= course.instructor_id %></td>
                    <td class="actions">
                        <% if can? :manage, User %>
                            <%= link_to("Show", course_path(course), :class => 'action show') %>
                            <%= link_to("Edit", edit_course_path(course), :class => 'action edit') %>
                            <%= link_to("Delete", delete_course_path(course), :class => 'action delete') %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
