<div class="courses index">
    <h3>Courses</h3>

    <%= link_to("Add new course", new_course_path, :class => 'action new') %>

    <table class="listing" summary="Course list">
        <tr class="header">
            <th>Title</th>
            <th>Description</th>
            <th>Hours</th>
            <th>Instructor Id</th>
        </tr>
        <% @courses.each do |course| %>
            <tr>
                <td><%= course.title %></td>
                <td><%= course.description %></td>
                <td><%= course.hours %></td>
                <td><%= course.employee_id %></td>
                <td class="actions">
                    <%= link_to("Show", course_path(course), :class => 'action show') %>
                    <%= link_to("Edit", edit_course_path(course), :class => 'action edit') %>
                    <%= link_to("Delete", delete_course_path(course), :class => 'action delete') %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
