<%= link_to("<< Back to List", courses_path, :class => 'back-link') %>

<div class="courses show">
    <h3>Show Course</h3>

    <table summary="Course detail view">
        <tr>
            <th>Title</th>
            <td><%= @course.title %></td>
        </tr>
        <tr>
            <th>Number of Hours</th>
            <td><%= @course.total_hours %></td>
        </tr>
        <tr>
            <th>Instructor Id</th>
            <td><%= @course.instructor_id %></td>
        </tr>
    </table>
    <h3>Roster</h3>
    <% if @roster != nil %>
        <% @roster.each do |student| %>
            <% name ="#{student[:first_name]} #{student[:last_name]}" %>
            <%= link_to(name, students_path(student), :class => 'action show') %>
            <% current_record = get_registration(@course.id, student[:id]) %>
            <%= link_to("Delete", delete_course_registration_path(current_record), :class => 'action delete') %>
        <% end %>
    <% end %>
    <h3>Add Student</h3>
    <%= form_for(@course_registration) do |f| %>
        <%= f.collection_select :student_id, @students, :id, :first_name, include_blank: true %>
        <%= f.hidden_field :course_id, :value => @course.id %>
        <div class="form-buttons">
            <%= f.submit("Enroll Student") %>
        </div>
    <% end %>
</div>
