<div class="jumbotron">
    <h3><%= @course.title %> Roster</h3>
</div>
<table id class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody id="students">
        <%= render @roster %>
    </tbody>
</table>
<% if can? :manage, User %>
    <h6>Add Student</h6>
    <%= bootstrap_form_for(@course_registration) do |f| %>
        <%= f.collection_select :student_id, @students, :id, :full_name, prompt: true %>
        <%= f.hidden_field :course_id, :value => @course.id %>
        <div class="form-buttons">
            <%= f.submit "Enroll Student", :class => 'btn btn-sm btn-primary' %>
        </div>
    <% end %>
    <h6>Remove Student</h6>
    <%= bootstrap_form_for(@course_registration, :method => 'delete') do |f| %>
        <%= f.collection_select :student_id, @roster, :id, :full_name, prompt: true %>
        <%= f.hidden_field :course_id, :value => @course.id %>
        <div class="form-buttons">
            <%= f.submit "Remove Student", :class => 'btn btn-sm btn-danger' %>
        </div>
    <% end %>
<% end %>
