<div class="jumbotron">
    <h3><%= @course.title %> Roster</h3>
</div>
<% if can? :manage, User %>
<div class="row">
    <div class="col s3">
        <h6>Add Student</h6>
        <%= bootstrap_form_for(@course_registration, remote: true) do |f| %>
            <%= f.collection_select :student_id, @students, :id, :full_name, prompt: true %>
            <%= f.hidden_field :course_id, :value => @course.id %>
            <div class="form-buttons">
                <%= f.submit "Enroll Student", :class => 'btn btn-sm btn-primary' %>
            </div>
        <% end %>
    </div>
</div>
<% end %>
<table id class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody id="course_registrations">
        <%= render @roster %>
    </tbody>
</table>
