<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
    <li class="nav-item">
        <span clas="nav-link">Signed in as: <%= current_user.first_name %> <%= current_user.last_name %></span>
    </li>
      <li class="nav-item">
          <%=link_to "Dashboard", dashboard_index_path, :class =>"nav-link active" %>
      </li>
      <li class="nav-item">
          <%= link_to "Instructors", instructors_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Students", students_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Courses", courses_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Cohorts", cohorts_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Stats (Coming Soon)
        </a>
      </li>
    </ul>

  </div>
</nav>
