<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
          <%=link_to "Dashboard", dashboard_home_path, :class =>"nav-link active" %>
      </li>
      <li class="nav-item">
          <%= link_to "Instructors", {:controller => "instructors", :action => "index"}, :class => "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Students", {:controller => "students", :action => "index"}, :class => "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Courses", {:controller => "courses", :action => "index"}, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Cohorts", {:controller => "cohorts", :action => "index"}, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Stats (Coming Soon)
        </a>
      </li>
    </ul>

  </div>
</nav>
