<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <title>SchoolAdminPanel</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'dashboard' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>

    <body>

        <%= render(:partial => 'layouts/header') %>
        <div class="container-fluid">
            <div class="row">
                <% if user_signed_in? %>
                    <%= render(:partial => "layouts/navbar") %>
                <% end %>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <%= yield %>
                </main>
            </div>
        </div>

    </body>
</html>
