<!DOCTYPE html>
<html>
    <head>
        <title>AdminPanel</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>

            <!-- header partial -->
            <%= render(:partial => 'layouts/header') %>
        </header>
        <main>
            <!-- sidenav partial -->
            <%= render(:partial => 'layouts/navbar') %>

            <!-- check for flash notice -->
            <% if !flash[:notice].blank? %>
                <div class="notice">
                    <%= flash[:notice] %>
                </div>
            <% end %>

            <!-- before yield -->
            <%= yield %>
            <!-- after yield -->
        </main>
        <footer>
            <!-- footer partial -->
            <%= render(:partial => 'layouts/footer') %>
        </footer>
    </body>
</html>
